<!doctype html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your Resume</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
  </head>
  <body class="body">
    <div class="resume">
      <div class="header">
        <h1>{{ data.full_name }}</h1>
        <div>
          <p><strong>Email:</strong> {{ data.email_id }}</p>
        </div>
      </div>

      <h3 class="section-title">Personal Details</h3>
      <div class="Personal_details">
        <p><strong>Date of birth:</strong> {{ data.date_of_birth }}</p>
        <p><strong>Hobbies:</strong> {{ data.hobbies }}</p>
        <p><strong>Father's Name:</strong> {{ data.father_name }}</p>
        <p><strong>Mother's Name:</strong> {{ data.mother_name }}</p>
      </div>
      <h3 class="section-title">Education</h3>
      <table>
        <tr>
          <th>Grade</th>
        </tr>
        <tr>
          <td>{{ data.grade }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
