<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Resume</title>
    <style>
      
    </style>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body class="body">
    <div class="resume">
        <div class="header">
            <h1>Faris Nukman</h1>
            <div>
                <p><strong>Email:</strong> farisnukman2011@gmail.com</p>
            </div>
        </div>

        <h3 class="section-title">Personal Details</h3>
        <div class="info-grid">
            <p><strong>Date of birth:</strong> 20/05/11</p>
            <p><strong>Hobbies:</strong> coding, fishing</p>
        </div>

        <h3 class="section-title">Education</h3>
        <table>
            <tr><th>Grade</th><th>Home schooled</th></tr>
            <tr><td>10th</td><td>home school</td></tr>
        </table>
    </div>
</body>
</html>